.entryscape {
  font-family: "TT Norms Pro Regular", arial, sans-serif !important;
}

/* listan */

.entryscape .entryList {
  padding-top: 1em;
  border-top: 2px solid #e4edee;
}

.entryscape-details .entryList {
  border-top: none;
}

.entryscape .esbRow {
  background-color: #f1f5f6 !important;
  box-shadow: unset !important;
  margin-bottom: 0.6em;
}

.entryscape .esbRowHead {
  max-height: unset !important;
}

.entryscape .esbRowHead h2 {
  font-weight: 900;
  font-size: 1.4em;
  margin-top: 0 !important;
  display: block;
}

.entryscape .esbRow {
  font-size: 1.13rem;
}

.entryscape .esbRow > .esbRowHead .esbDescription {
  font-weight: normal;
}

.entryscape .esbRowHead.esbDefaultExpandButton .esbRowMain {
  width: calc(100% - 72px) !important;
}

.entryscape .esbRowHead.esbDefaultExpandButton .esbRowMain h2:hover {
  color: #005a9c;
}

.entryscape .popover {
  max-width: 30em !important;
  width: 30em !important;
}

.entryscape .popover .arrow {
  border-width: 0 !important;
  border-style: none !important;
}

.entryscape .fade {
  opacity: unset;
  transition: opacity 0.15s linear !important;
}
.entryscape .esbRowHead .esbRowControl {
  min-width: 66px !important;
  width: 66px !important;
  display: flex;
  align-items: center;
}

.entryscape .esbRowHead .esbRowControl > button {
  min-width: 3em;
  min-height: 3em;
}

.entryscape .esbRowHead .esbRowControl > button > span{
  font-size: 1.4em;
}

/* listan, row-expand */

.eachprop__rest > span,
.eachprop > span {
  margin-bottom: 0.3em;
  display: inline-block;
}

.esbTag {
  display: inline-block;
  border: none !important;
  background-color: #fff !important;
  margin: 0 0.2em 0.2em 0 !important;
}

.entryscape-details .esbTag {
  background-color: #f1f5f6 !important;
}

.eachprop__restseparator {
  display: none !important;
}

.eachprop__ellipsis {
  display: none !important;
}

.esbFacets__limit > button.btn,
.entryscape .esbFacets__limit > button.btn-secondary,
.eachprop__unexpandbutton,
.eachprop__expandbutton {
  background-color: transparent !important;
  border: none!important;
  padding: 0!important;
  color: #005f88!important;
}

.entryscape .esbFacets__limit > button.btn-secondary,
.esbFacets__limit > button.btn {
  padding: 0 6px !important;
  font-size: 1rem;
  font-weight: 700;
}

.entryscape .esbFacets__limit > button.btn-secondary:focus,
.esbFacets__limit > .btn-sm:focus {
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 3px dotted #b82600;
}

.esbFacets__limit > button::after,
.eachprop__unexpandbutton::after,
.eachprop__expandbutton::after {
  content: '...';
  margin-left: 0.8em;
}

.entryscape .esbRowExpand {
  background-color: #f1f5f6 !important;
}

.entryscape .esbLabel {
  padding-bottom: 0.3em !important;
}

.entryscape-details h3,
.entryscape .esbRowExpand h3 {
  font-size: 1.13rem !important;
  font-weight: 700 !important;
  display: block;
}

.entryscape-details .esbIndent,
.entryscape .esbRowExpand .esbIndent {
  margin: 0 !important;
}
.entryscape-details .rdformsLabel,
.entryscape .esbRowExpand .rdformsLabel {
  font-weight: 700 !important;
}

.esbRowExpand .entryList .esbRow {
  background-color: white !important;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3) !important;
}

.entryscape-details .esbRow {
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3) !important;
  background-color: white !important;
}

.entryscape-details .esbRowExpand,
.esbRowExpand .entryList .esbRowExpand {
  background-color: white !important;
}

.entryscape-details .esbRow .esbRowControl > button,
.entryscape .esbRowExpand .esbRowHead .esbRowControl > button {
  height: unset !important;
  margin-top: 0;
}
.esbCopyButton {
  white-space: nowrap;
}

.esbCopyButton:not(.copied):after {
  content: ' Kopiera url';
}

.esbCopyButton.copied:after {
  content: ' Url kopierad';
}

/* facetterna */

.entryscape .esbFacets__collection h3 {
  border-bottom: none;
  font-size: 1.1em;
  font-family: "TT Norms Pro Bold";
  display: block;
}

.entryscape .esbFacets__collection li > a,
.entryscape .esbFacets__collection li > .facetLabel {
  color: #005f88;
}

.entryscape .esbFacets__collection li > a > .esbFacets__occurence {
  color: black;
}

.esbFacets--selected {
  font-family: "TT Norms Pro Bold"
}

.esbFacets__limit {
  margin-top: 0.3em;
  justify-content: flex-start !important;
}

.entryscape .esbFacets__collection li {
  margin-left: -5px;
}

/* sökrutan */

.entryscape .selectize-control {
  margin-bottom: 1em;
}

.entryscape .selectize-input {
  padding: 0.6em !important;
  border-color: #005f88 !important;
  font-size: 1.4em;
  width: 100%;
}

/* begrepp, lista */

.entryscape .conceptSearch a {
  color: #005f88;
  font-weight: 700;
}

.entryscape .esbRowExpand > div .btn-primary {
  background-color: #005f88;
  color: #fff;
}
.entryscape .esbRowExpand > div .btn-primary:active {
  background-color: #005f88 !important;
}

/*.entryscape .esbRowExpand > div {
  text-align: right;
}*/

.entryscape .conceptSearch h2 {
  font-size: 1.4em;
}

/* begrepp, detaljsida */

.entryscape h1 {
  font-size: 3em !important;
}

/* terminologi, detaljsida */


.entryscape .hierarchy {
  width: 100%;
  overflow: auto;
}


/* Live fixar */
.entryscape a[href^="http://"]:before, a[href^="https://"]:before {
  background: none;
}

.entryscape a[href^="http://"], a[href^="https://"] {
  margin-left: 0;
}

.entryscape .conceptDetailsHav .description {
  padding-top: 16px;
}

.entryscape .conceptDetailsHav h2 {
  margin-top: 1.2em;
  font-size: 1.4rem;
}

.rdforms .durationValue {
  width: 1.5em !important;
  display: inline-block;
  padding-left: 0.3em;
}

/* Make GEMET appear as category */

.GEMET-category .rdformsUrl {
  padding: 3px 10px;
  line-height: 30px;
  display: inline-block;
  border-bottom-color: #f1f5f6;
  text-transform: capitalize;
  background-color: white;
}
.entryscape-details .GEMET-category .rdformsUrl {
  background-color: #f1f5f6 !important;
}

/*.entryscape-details .GEMET-category {
  margin-bottom: -36px;
}*/

/* Visualisations list */
.escoList .formats {
  margin-bottom: 0.6em;
}
